.product-description{
    display: flex;
    margin: 40px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.product-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.image-gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-gallery img{
    width: 100px;
    height: 100px;
}

.product-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-to-cart button{
    padding: 10px;
    background: red;
    border-radius: 20px;
    height: 50px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
}

.size p{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.size-list{
    display: flex;
    gap: 50px;
}



.size-list button{
    height: 40px;
    width: 60px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.price p{
    font-size: 25px;
    font-weight: 700;
}

.price p:nth-of-type(1){
    font-weight: 100;
    opacity: 0.5;
    text-decoration: line-through;
}

@media (max-width:1440px) {
    .product-description{
        margin: 40px;
    }
}


@media (max-width:1024px) {
    .product-description{
        flex-direction: column;
       justify-items: center;
       align-items: center;
    }

    .product-right{
        padding: 100px;
    }
}

@media (max-width:768px){
   
    .product-description h2{
        font-size: 20px;
    }
    .price p{
        font-size: 20px;
    }
    .description{
        font-size: 14px;
    }

    .size-list button{
        height: 30px;
        width: 30px;
        font-size: 10px;
    }
    .add-to-cart button{
       font-size: 10px;
       height:40px ;
    }

    .product-left{
        flex-direction: column-reverse;
        
    }
    .image-gallery{
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width:560px) {
    .image-gallery img{
        width: 60px;
        height: 60px;
    }
    .size-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .product-right{
        padding: 20px;
    }
}