.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    padding-top: 30px;
}

.top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.social-icons{
    display: flex;
    gap: 20px;
}
.social-icons img{
    height: 30px;
    width: 30px;
    
}

.footer-line{
    height: 2px;
    background: black;
    width: 90%;
}

@media (max-width:768px){
    .footer-menu{
        flex-direction: column;
        text-align: center;
    }
}